.container {
    background: url('../assets/mountains-universe-1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#app {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    height: 80%;
    padding: 6.3rem 0  0 10.2rem;
}

#app h1 {
    font-size: 4.8rem;
    color: #E1E1E6;
}

#app p {
    width: 64.8rem;
    font-size: 1.8rem;
    font-weight: 400;
    color: #E1E1E6; 
}